* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.web {
    display: flex;
}

.navbar {
    background-color: #191818;
    width: 20vh;
    color: #fefdfa;
    height: 100vh;
}

.navbar-list li:first-child {
    color: white;
}

.navbar-list li {
    padding: 10px;
    margin: 0 10px;
    border-bottom: 1px solid #2b2b2b;
    color: #bdbcbc;
}

.container {
    margin: 0 100px;
    width: 100%;
}

.logo-img {
    display: block;
    margin: 0 auto;
    width: 150px;
}

.title {
    background-color: #efefef;
    text-align: center;
    margin-bottom: 20px;
}

.title-main {
    width: 800px;
    display: block;
    margin: 0 auto;
    padding: 30px;
}

.title-header {
    margin: 0 0 20px 0;
    font-weight: bold;
}

.content {
    display: flex;
    grid-template-columns: 50% 50%;
}

.content {
    /* display: flex; */
    justify-content: space-between;
    margin-left: -1rem;
    flex-flow: row wrap;
}

.content-item {
    flex: 1 0;
    margin-left: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
}

.content-item-main {
    display: inline;
}

.content-header {
    font-weight: bold;
}

.content-img {
  color: #111;
  font-size: 90px;
  float: left;
  background-clip: content-box;
}

.content-img img {
    width: 100px;
    margin-right: 15px;
}

.oval {
    width: 100px;
    color: #111;
    padding: 10px;
  }
  span {
    padding-top: 70px;
    display: inline-block;
  }

