
/*  Mobile & Tablet */
@media (max-width: 1023px) {
    .navbar {
        width: 100%;
        height: 40px;
        position: fixed;
        padding: 10px;
    }

    .content-item {
        display: block;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .navbar {
        width: 100%;
        height: 40px;
        position: fixed;
        padding: 10px;
    }
}

/* Mobile */
@media (max-width: 739px) {
    .navbar {
        width: 100%;
        height: 40px;
        position: fixed;
        padding: 10px;
    }

    .navbar-list {
        display: flex;
    }

    .navbar-list li {
        padding: 3px;
        margin: 0 5px;
        font-size: 14px;
        list-style: none;
        border: none;
    }

    .container {
        margin: 0 30px;
        max-width: 700px;
    }

    .logo-img {
        width: 100px;
        margin-top: 30px;
    }

    .title {
        max-width: 700px;
        margin-left: 20px;
    }

    .title-header {
        width: 300px;
    }

    .title-content {
        width: 300px;
    }

    .content-item {
        display: block;
    }
}